@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundHeaderIndex, .backgroundHeaderContacto, .backgroundHeaderSobremi, .backgroundHeaderGaleria, .backgroundHeaderServicios {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-index-arreglo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.backgroundHeaderIndex .navbar-light .logoNav, .backgroundHeaderContacto .navbar-light .logoNav, .backgroundHeaderSobremi .navbar-light .logoNav, .backgroundHeaderGaleria .navbar-light .logoNav, .backgroundHeaderServicios .navbar-light .logoNav {
  width: 6rem;
  height: 6rem;
  border-radius: 4rem;
  transition: transform 0.3s ease;
}
.backgroundHeaderIndex .navbar-light .logoNav:hover, .backgroundHeaderContacto .navbar-light .logoNav:hover, .backgroundHeaderSobremi .navbar-light .logoNav:hover, .backgroundHeaderGaleria .navbar-light .logoNav:hover, .backgroundHeaderServicios .navbar-light .logoNav:hover {
  transform: scale(1.2);
}
.backgroundHeaderIndex .navbar-light .navbar-toggler-icon, .backgroundHeaderContacto .navbar-light .navbar-toggler-icon, .backgroundHeaderSobremi .navbar-light .navbar-toggler-icon, .backgroundHeaderGaleria .navbar-light .navbar-toggler-icon, .backgroundHeaderServicios .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 242, 243, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.backgroundHeaderIndex .navbar-light .menuHamburguesa, .backgroundHeaderContacto .navbar-light .menuHamburguesa, .backgroundHeaderSobremi .navbar-light .menuHamburguesa, .backgroundHeaderGaleria .navbar-light .menuHamburguesa, .backgroundHeaderServicios .navbar-light .menuHamburguesa {
  color: #FFF2F3;
  border: 1px solid;
}
.backgroundHeaderIndex .navbar-light .navbar-nav .linkNav, .backgroundHeaderContacto .navbar-light .navbar-nav .linkNav, .backgroundHeaderSobremi .navbar-light .navbar-nav .linkNav, .backgroundHeaderGaleria .navbar-light .navbar-nav .linkNav, .backgroundHeaderServicios .navbar-light .navbar-nav .linkNav {
  display: flex;
  text-decoration: none;
  color: #FFF2F3;
  font-size: 2rem;
  text-align: right;
  font-family: "Poppins";
  transition: transform 0.3s ease;
}
.backgroundHeaderIndex .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderContacto .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderSobremi .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderGaleria .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderServicios .navbar-light .navbar-nav .linkNav:hover {
  transform: scale(1.2);
}
.backgroundHeaderIndex .titulo, .backgroundHeaderContacto .titulo, .backgroundHeaderSobremi .titulo, .backgroundHeaderGaleria .titulo, .backgroundHeaderServicios .titulo {
  text-align: center;
  font-size: 10rem;
  font-family: "Dancing Script";
  font-weight: 700;
  color: #FFF2F3;
  padding-top: 10vh;
}
.backgroundHeaderIndex .subtitulo, .backgroundHeaderContacto .subtitulo, .backgroundHeaderSobremi .subtitulo, .backgroundHeaderGaleria .subtitulo, .backgroundHeaderServicios .subtitulo {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #FFF2F3;
}
.backgroundHeaderIndex .scrolldown, .backgroundHeaderContacto .scrolldown, .backgroundHeaderSobremi .scrolldown, .backgroundHeaderGaleria .scrolldown, .backgroundHeaderServicios .scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.backgroundHeaderIndex .scrolldown span, .backgroundHeaderContacto .scrolldown span, .backgroundHeaderSobremi .scrolldown span, .backgroundHeaderGaleria .scrolldown span, .backgroundHeaderServicios .scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #FFF2F3;
  border-right: 2px solid #FFF2F3;
  animation: animate 1s linear infinite;
}
.backgroundHeaderIndex .scrolldown span:nth-child(1), .backgroundHeaderContacto .scrolldown span:nth-child(1), .backgroundHeaderSobremi .scrolldown span:nth-child(1), .backgroundHeaderGaleria .scrolldown span:nth-child(1), .backgroundHeaderServicios .scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: 0.3s;
}
.backgroundHeaderIndex .scrolldown span:nth-child(2), .backgroundHeaderContacto .scrolldown span:nth-child(2), .backgroundHeaderSobremi .scrolldown span:nth-child(2), .backgroundHeaderGaleria .scrolldown span:nth-child(2), .backgroundHeaderServicios .scrolldown span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: 0.1s;
}
.backgroundHeaderIndex .scrolldown span:nth-child(3), .backgroundHeaderContacto .scrolldown span:nth-child(3), .backgroundHeaderSobremi .scrolldown span:nth-child(3), .backgroundHeaderGaleria .scrolldown span:nth-child(3), .backgroundHeaderServicios .scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
.backgroundHeaderServicios {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-servicios-arreglo.jpg);
}

.backgroundHeaderGaleria {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/Background\ Galeria.jpeg);
}

.backgroundHeaderSobremi {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-sobremi-arreglo.jpg);
}

.backgroundHeaderContacto {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/Background\ Contacto.jpeg);
}

@media screen and (max-width: 768px) {
  .backgroundHeaderIndex, .backgroundHeaderServicios, .backgroundHeaderGaleria, .backgroundHeaderSobremi, .backgroundHeaderContacto {
    background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-index-mobile.jpg);
  }
  .backgroundHeaderIndex .titulo, .backgroundHeaderServicios .titulo, .backgroundHeaderGaleria .titulo, .backgroundHeaderSobremi .titulo, .backgroundHeaderContacto .titulo {
    font-size: 5rem;
  }
  .backgroundHeaderIndex .subtitulo, .backgroundHeaderServicios .subtitulo, .backgroundHeaderGaleria .subtitulo, .backgroundHeaderSobremi .subtitulo, .backgroundHeaderContacto .subtitulo {
    font-size: 1rem;
  }
  .backgroundHeaderIndex .navbar-light .logoNav, .backgroundHeaderServicios .navbar-light .logoNav, .backgroundHeaderGaleria .navbar-light .logoNav, .backgroundHeaderSobremi .navbar-light .logoNav, .backgroundHeaderContacto .navbar-light .logoNav {
    transition: none;
  }
  .backgroundHeaderIndex .navbar-light .logoNav:hover, .backgroundHeaderServicios .navbar-light .logoNav:hover, .backgroundHeaderGaleria .navbar-light .logoNav:hover, .backgroundHeaderSobremi .navbar-light .logoNav:hover, .backgroundHeaderContacto .navbar-light .logoNav:hover {
    transform: none;
  }
  .backgroundHeaderIndex .navbar-light .navbar-nav .linkNav, .backgroundHeaderServicios .navbar-light .navbar-nav .linkNav, .backgroundHeaderGaleria .navbar-light .navbar-nav .linkNav, .backgroundHeaderSobremi .navbar-light .navbar-nav .linkNav, .backgroundHeaderContacto .navbar-light .navbar-nav .linkNav {
    transition: none;
  }
  .backgroundHeaderIndex .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderServicios .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderGaleria .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderSobremi .navbar-light .navbar-nav .linkNav:hover, .backgroundHeaderContacto .navbar-light .navbar-nav .linkNav:hover {
    transform: none;
  }
  .backgroundHeaderServicios {
    background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-servicios-mobile.jpg);
  }
  .backgroundHeaderGaleria {
    background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/Background\ Galeria.jpeg);
  }
  .backgroundHeaderSobremi {
    background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-sobremi-mobile.jpg);
  }
  .backgroundHeaderContacto {
    background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/img-contacto-mobile.jpg);
  }
  .scrolldown {
    display: none;
  }
}
.h2main {
  font-family: "Poppins";
  color: #6b041e;
  font-size: 2rem;
}

.separacion {
  color: #6b041e;
  border: 1px solid;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .h2main {
    font-size: 1.2rem;
  }
}
.backgroundMain {
  background-image: linear-gradient(to right, #f6cfd3, #f8d5d9, #fadcdf, #fbe2e5, #fde9eb, #fde9eb, #fde9eb, #fde9eb, #fbe2e5, #fadcdf, #f8d5d9, #f6cfd3);
}
.backgroundMain .imgIndex {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 0.3rem solid #6b041e;
}
.backgroundMain .h3 {
  text-align: center;
  font-size: 2.3rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 2rem;
}
.backgroundMain .parrafos {
  text-align: justify;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 2rem;
}
.backgroundMain .h3__section {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins";
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .backgroundMain .h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .backgroundMain .parrafos {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .backgroundMain .h3__section {
    font-size: 2rem;
  }
}
.backgroundMainSobremi {
  background-image: linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/background-main-sobremi.jpeg);
  background-size: cover;
  border: 1px;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.backgroundMainSobremi .contenedorSobremi {
  display: flex;
  width: 95%;
  height: auto;
}
.backgroundMainSobremi .contenedorSobremi p {
  font-size: 2rem;
  color: #FFF2F3;
  text-align: justify;
  line-height: 2.8rem;
}
.backgroundMainSobremi .contenedorSobremi p .destacar {
  color: #f6cfd3;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .backgroundMainSobremi .contenedorSobremi p {
    font-size: 1.3rem;
    color: #FFF2F3;
    line-height: 1.3rem;
  }
}
.border {
  border: 4px solid #6b041e !important;
}

.imgcontenedor .imggaleria {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8rem;
  border: 0.4rem solid #6b041e;
}
.imgcontenedor .vidgaleria {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3rem;
  border: 0.4rem solid #6b041e;
}

.backgroundFooter {
  background-color: #6b041e;
  height: auto;
}
.backgroundFooter .sizeColumn {
  height: 20vh;
}
.backgroundFooter .sizeColumn .hFooter {
  text-align: center;
  font-size: 5rem;
  font-family: "Dancing Script";
  font-weight: 700;
  color: #FFF2F3;
  transition: transform 0.3s ease;
}
.backgroundFooter .sizeColumn .hFooter:hover {
  transform: scale(1.2);
}
.backgroundFooter .sizeColumn .listaNav {
  display: inline-block;
  list-style: none;
  font-size: 2rem;
}
.backgroundFooter .sizeColumn .listaNav .linkNav {
  display: flex;
  color: #FFF2F3;
  transition: transform 0.3s ease;
}
.backgroundFooter .sizeColumn .listaNav .linkNav:hover {
  transform: scale(1.2);
}
.backgroundFooter .icon {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}
.backgroundFooter .copyRight {
  color: #FFF2F3;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .backgroundFooter .sizeColumn .hFooter {
    transition: none;
  }
  .backgroundFooter .sizeColumn .hFooter:hover {
    transform: none;
  }
  .backgroundFooter .sizeColumn .listaNav .linkNav {
    transition: none;
  }
  .backgroundFooter .sizeColumn .listaNav .linkNav:hover {
    transform: none;
  }
}

/*# sourceMappingURL=estilo.css.map */
