.backgroundFooter {
    background-color:$color-bordo;
    height: auto;
    .sizeColumn {
        height: 20vh;
        .hFooter {
            @include mixintextos($texto-centrado,5rem,$fuente-principal,map-get($anchofont,grueso));
            color: $color-rosa;
            transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.2);
                }
        }
        .listaNav {
            display:inline-block;
            list-style: none;
            font-size: 2rem;
            .linkNav {
                display: flex;
                color: $color-rosa;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }         
        }
    }
    .icon{
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
    }
    .copyRight {
        color: $color-rosa;
        text-align: center;
        margin-bottom:0;
        padding: 0;   
        font-weight: map-get($anchofont , fino);
    }
}
@media screen and (max-width: 768px) {
    .backgroundFooter {
        .sizeColumn {
            .hFooter {
                transition: none;
                &:hover {
                        transform: none;
                }
            }
            .listaNav {
                .linkNav {
                    transition: none;
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
}
