.imgcontenedor {
    .imggaleria {
        background-size: map-get($imagenesbackground,imgcover);
        background-repeat: map-get($imagenesbackground,imgnorepeat);
        background-position:map-get($imagenesbackground,imgcenter);
        border-radius: 8rem;
        border: 0.4rem solid $color-bordo;
    }
    .vidgaleria {
        background-size: map-get($imagenesbackground,imgcover);
        background-repeat: map-get($imagenesbackground,imgnorepeat);
        background-position:map-get($imagenesbackground,imgcenter);
        border-radius: 5rem;
        border: 0.4rem solid $color-bordo;
    }
}