.backgroundMainSobremi {
    background-image:linear-gradient(rgba(6, 9, 7, 0.7), rgba(6, 9, 7, 0.5)), url(../assets/img/background-main-sobremi.jpeg);
    background-size: map-get($imagenesbackground , imgcover);
    border: 1px;
    border-radius: 1rem;
    background-repeat: map-get($imagenesbackground , imgnorepeat);
    background-position: map-get($imagenesbackground , imgcenter);
    background-attachment: map-get($imagenesbackground , imgfixed);
    height: 100vh;
    .contenedorSobremi {
        display: flex;
        width: 95%;
        height: auto;
        p {
            font-size: 2.5rem;
            color: $color-rosa;
            text-align: justify;
            line-height: 3rem;
            .destacar {
                color: $color-bordo;
                font-weight: map-get($anchofont,grueso);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .backgroundMainSobremi {
        .contenedorSobremi {
            p {
                font-size: 1.3rem;
                color: $color-rosa;
                line-height: 1.3rem;
            }
        }
    }
}