.backgroundMain {
    background-image:$gradiente-background;
    .imgIndex {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
        border: 0.3rem solid $color-bordo;
    }
    .h3 {
        @include mixintextos($texto-centrado,2.3rem,$fuente-secundaria,map-get($anchofont,estandar));
        line-height: 2rem;
    }
    .parrafos{
        @include mixintextos(justify,1.2rem,$fuente-secundaria,map-get($anchofont,estandar));
        line-height: 2rem;
    }
    .h3__section{
        @include mixintextos($texto-centrado,3rem,$fuente-secundaria,map-get($anchofont,estandar));
    }
    .cardajuste{
        height: 95%;
    }
}
.contenedorAnimaciones {
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .backgroundMain {
        .h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        }
        .parrafos{
        font-size: 0.9rem;
        line-height: 1.3rem;
        }
        .h3__section {
        font-size: 2rem;
        }
    }    
}