.h2main {
    font-family: $fuente-secundaria;
    color: $color-bordo;
    font-size: 2rem;
}
.separacion {
    color: $color-bordo;
    border: 1px solid;
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .h2main {
        font-size: 1.2rem;
    }
}