$fuente-principal:"Dancing Script";
$fuente-secundaria:"Poppins";
$vhcompleto:100vh;
$color-rosa:#FFF2F3;
$color-bordo:#6b041e;
$texto-centrado: center;
$gradiente-background:linear-gradient(to right, #f6cfd3, #f8d5d9, #fadcdf, #fbe2e5, #fde9eb, #fde9eb, #fde9eb, #fde9eb, #fbe2e5, #fadcdf, #f8d5d9, #f6cfd3);

$anchofont:(
    fino:200,
    estandar:400,
    grueso:700
);

$imagenesbackground:(
    imgfixed: fixed,
    imgcover: cover,
    imgnorepeat: no-repeat,
    imgcenter: center
);